<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Crossfit Box</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor2/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor2/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="{% static 'css/creative.css' %}" rel="stylesheet">
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
    <link href="{% static 'vendor2/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
    <!-- Optionally add helpers - button, thumbnail and/or media -->
    <link rel="stylesheet" href="{% static 'vendor2/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5' %}"
          type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static 'vendor2/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7' %}"
          type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% static 'vendor2/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'vendor2/owl-carousel/owl.theme.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- MEDIA SECTION -->
  <section class="media">
    <div class="text-center">
        <h2>Workouts</h2>
    </div>
    <div class="container">
        <div class="row">
            {% for workout in workouts %}
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="block">
                        <!-- Display workout image if available -->
                        {% if workout.image.url %}
                            <img src="{{ workout.image.url }}" class="img-responsive" alt="">
                        {% endif %}
                        <!-- Display video if available -->
                        <div class="info">
                            <h3>{{ workout.name }}</h3>
                            <span>Duration: {{ workout.duration }} minutes</span>
                            <span>Instructions: {{ workout.instructions }} </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="text-center">
        <a href="{% url 'profile_details' %}" class="btn btn-primary btn-xl page-scroll">Send me back to my profile</a>
    </div>
</section>

    <!-- MEDIA SECTION -->

