<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Membership plans</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_membership_plans.css' %}">
</head>
<body>
<div class="card-container">
    <div class="card">
        <link href="{% static 'img/workouts/back.webp' %}">
        <div class="card-content">
            <h1>Back Focused</h1>
            <p>This membership plan will help you gain muscles on your back!</p>>
            <a href="" class="card_button">Join Course</a>
        </div>
    </div>
    <div class="card">
        <link href="{% static 'img/workouts/biceps.webp' %}">
        <div class="card-content">
            <h1>Biceps Focused</h1>
            <p>This membership plan is for everyone who wants top biceps!</p>>
            <a href="" class="card_button">Join Course</a>
        </div>
    </div>
    <div class="card">
        <link href="{% static 'img/workouts/chest.webp' %}">
        <div class="card-content">
            <h1>Biceps Focused</h1>
            <p>This membership plan is for everyone who wants top biceps!</p>>
            <a href="" class="card_button">Join Course</a>
        </div>
    </div>
</div>
</body>
</html>